// Do not change color types
$color-accent: #be00be;
$color-accent-bright: #ff00ff;
$color-dark: rgb(34, 34, 34);


*, ::after, ::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	background-color: $color-dark;
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: $color-accent;
	border-radius: 50vw;
}

body {
	background-color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p:last-child {
	margin-bottom: 0;
}

p:first-child {
	margin-top: 0;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;

	& > img {
		max-width: 100%;
	}
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-inline: 10px;

	& > a {
		position: relative;
		padding: .5em 1em;
		font-size: 1.25em;
		text-decoration: none;
		font-weight: bold;
		color: white;
		z-index: 0;
		transition: color .5s;
		overflow: hidden;
		text-transform: capitalize;

		&::after {
			position: absolute;
			inset: 0;
			top: 100%;
			height: 0%;
			content: "";
			background-color: $color-accent;
			transition: .5s;
			z-index: -1;
		}

		&.selected::after {
			top: 95%;
			height: 5%;
			filter:
				drop-shadow(0 0 5px $color-accent)
				drop-shadow(0 0 10px $color-accent)
				drop-shadow(0 0 15px $color-accent)
		}

		&:hover {
			color: black;

			&::after {
				height: 100%;
				top: 0;
			}
		}
	}
}


.content {
	margin-inline: auto;
	max-width: 1000px;
	width: 85vw;
}


article {
	border: 2px solid $color-accent;
	box-shadow: inset 0 0 50px -10px $color-accent;
	padding: 2em;
	border-radius: 10px;
	color: white;
	font-size: 1.2em;

	p {
		margin-block: 1em;
	}

	.section {
		margin-top: 2em;
		padding-block: 1em;
		padding-inline: 1em;
		border-left: 2px solid $color-accent;
		position: relative;

		/* yeah, this is a bit ugly. Just to make things clear, we are adding
			the alpha (AA) value at the of this color, which is in HEX */
		background-image: linear-gradient(
			90deg,
			#{$color-accent}50,
			#{$color-accent}25,
			#{$color-accent}25,
		);
	}

	.section-title {
		font-size: 1.5em;
		font-weight: bold;
	}

	.info {
		font-size: 1.1em;
		text-align: center;
		text-shadow: 0 0 5px $color-accent-bright;
	}
}


footer {
	border-top: 4px solid $color-accent;
	background-color: #ad00ad30;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 7.5em;
	box-shadow: 0 0 30px -10px $color-accent;
	overflow-y: hidden;

	& > p {
		max-width: 50%;
	}
}

@keyframes shake-rot {
	25% {
		transform: scale(1.1) rotate(15deg);
	}
	50% {
		transform: scale(1.1) rotate(-15deg);
	}
	75% {
		transform: scale(1.1) rotate(10deg);
	}
}

.link {
	display: inline-block;
	width: 75px;
	aspect-ratio: 1;
	margin-right: 1em;

	&:hover {
		animation: shake-rot 1s;
	}

	& > * {
		width: 100%;
	}
}


iframe {
	width: 100%;
	aspect-ratio: 16 / 9;
	border: none;
}


a {
	color: $color-accent-bright;
}